#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width:100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 30px;
  line-height: 75px;
}

#nav-bar #compose {
  width: 120px;
  height: 60px;
  float: right;
  line-height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 18px;
}

#compose:hover {
  cursor: pointer;
  color: tomato;
}

#nav-bar .fa-pencil-square-o {
  line-height: 40px;
  margin-right: 5px;
}
