.tweet-box {
  margin: 15px 0;
  border-radius: 10px;
  border: 1px solid red;
}

.tweet-box p {
  margin: 0;
}

.tweet-box header {
  background-color: #eee;
  margin: 0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.tweet-box .user-avatar {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 5px;
}

.tweet-box .name {
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
  float: left;
}

.tweet-box .username {
  line-height: 25px;
  font-size: 15px;
  font-weight: 300;
  float: right;
}

.tweet-box .content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: 100px;
  padding: 20px 10px 10px 10px;
  border-bottom: 1px solid grey;
  text-align: left
}

.tweet-box footer {
  padding:10px;
  height: 30px;
  text-align: left;
  overflow: hidden;
}

.tweet-box footer p {
  font-size: 10px;
  float: left;
}

.tweet-box .icons {
  display: none;
  font-size: 10px;
  float: right;
}

.tweet-box .icons i {
  margin-left: 5px;
}

.tweet-box:hover .icons {
    display: block;
}
